# Core framework
Django==5.2
django-filter==25.1
python-dotenv==1.1.1

# Deployment
gunicorn==23.0.0
whitenoise==6.7.0

# Database
dj_database_url==3.0.1
psycopg2-binary==2.9.11
mysqlclient==2.2.7

# Util
pandas==2.3.3
requests==2.32.5