{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

<!-- 放子分頁的 css -->
{% block extra_css %} 
    {{ block.super }}  <!-- 繼承母版的 css 但不要覆蓋 -->
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
    <div class="register-container">
        <h2> Sign up </h2>
        <div class="register-form">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <fieldset>
                    {{ form.as_div }}
                </fieldset>
                <button type="submit" class="register-btn" style="justify-content: center;"> Submit </button>
            </form>
        </div>
    </div>

{% endblock %}
