{% extends "base.html" %}
{% load static %}  

{% block title %}
    All Objekt list
{% endblock %}

<!-- 放子分頁的 css -->
{% block extra_css %} 
    {{ block.super }}  <!-- 繼承母版的 css 但不要覆蓋 -->
    <link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}

{% block header %}
    <h3> objekt marketplace - list </h3>
{% endblock %}


{% block content %}
    <div>
        <p>共 {{ cards | length }} 張卡</p>
    </div>
    <div class="display-all-objekt">
        {% for c in cards %}
            <div>
                {% if c.objekt_type.image_uri %}
                    <img src="{{ c.objekt_type.image_uri }}" alt="{{ c.objekt_type }}" style="max-height:120px">
                {% endif %}
                <p> {{ c }} </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}