{% extends "base.html" %}
{% load static %}  

{% block title %}
    All Objekt list
{% endblock %}

<!-- 放子分頁的 css -->
{% block extra_css %} 
    {{ block.super }}  <!-- 繼承母版的 css 但不要覆蓋 -->
    <link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}

{% block header %}
    <h3> objekt marketplace </h3>
{% endblock %}


{% block content %}

    <!-- filter -->
    <div class="filter-bar">
        <form method="GET">
            {{ objektFilter.form.as_table }}
        </form>
    </div>

    <!-- objekt stats info -->
    <div class="info-area">
        <p>共 {{ cards | length }} 張卡</p>
    </div>

    <!-- grid display objekts -->
    <div class="display-all-objekt">
        {% for card in cards %}
            <div>
                {% if card.image_uri %}
                    <img src="{{ card.image_uri }}" alt="{{ card }}" style="max-height:120px">
                {% endif %}
                <p> {{ card }} </p>
            </div>
        {% endfor %}
    </div>

{% endblock %}