{% extends "base.html" %}
{% load static %}  

{% block title %} My Account {% endblock %}

<!-- 放子分頁的 css -->
{% block extra_css %} 
    {{ block.super }}  <!-- 繼承母版的 css 但不要覆蓋 -->
    <link rel="stylesheet" href="{% static 'info.css' %}">
{% endblock %}


{% block content %}
    <div class="profile-check">
        <br>
        {% if profile_created %}
            <div class="banner">已為你建立 Profile，請補齊資料</div>
        {% elif not user_profile.wallet_address or not user_profile.contact_info %}
            <div class="banner"> ⚠️ 未填寫 Profile，補齊可解鎖更多功能 📝</div>
        {% endif %}
    </div>
    <div class="user-info">
        <h2> My Account info </h2>
        <!-- 改成用 table ? -->
        <ul>
            <li> Username: {{ username }} </li>
            {% if request.user.email %}
            <li> Email: {{ request.user.email }} </li>
            {% endif %}
        </ul>
        <ul>
            <li> Wallet: {{ user_profile.wallet_address }} </li>
            <li> Contact: {{ user_profile.contact_info }} </li>
        </ul>
    </div>
{% endblock %}
