{% extends "base.html" %}
{% load static %}

{% block title %} My Lists {% endblock %}

<!-- 放子分頁的 css -->
{% block extra_css %} 
    {{ block.super }}  <!-- 繼承母版的 css 但不要覆蓋 -->
    <link rel="stylesheet" href="{% static 'details.css' %}">
{% endblock %}



{% block content %}
    <div class="list-details-links">
        <a href="{% url 'market' %}" class="btn"> Back to market </a>
        {% if objektlist.owner == request.user %}
            <a href="{% url 'mylists' %}" class="btn"> Back to mylists </a>
            <a href="{% url 'update_list' pk=objektlist.pk%}" class="btn"> Edit list </a>
        {% endif %}
    </div>
    <div class="list-info">
        <div> <label> Name </label> {{ objektlist.name }} </div>
        <div> <label> Owner </label> {{ objektlist.owner }}  </div>
        <div> <label> Contact info </label> <p class="contact-info"> {{ objektlist.owner.userprofile.contact_info | linebreaksbr }} </p> </div>
        <div> <label> Description </label> {{ objektlist.description }} </div>
        <div> <label> Created at </label> {{ objektlist.created_at | date:'Y-m-d H:i' }} </div>
        <div>
            {% if objektlist.is_public %}
                <label> Status </label> Public
            {% else %} 
                <label> Status </label> Private
            {% endif %}
        </div> <br>
    </div>
    <div class="list-objekts-display">
        {% for objekt in objekts %}
            <details class="objekt-card">
                <summary>
                    {% if objekt.image_uri %}
                        <img src="{{ objekt.image_uri }}" alt="{{ objekt }}" style="max-height: 150px;">
                    {% endif %}
                    <div> {{ objekt }} </div>
                </summary>
                <div class="objekt-details">
                    <p><label> Artist </label> {{ objekt.artist.name }}</p>
                    <p><label> Season </label> {{ objekt.season.name }}</p>
                    <p><label> Class </label> {{ objekt.objekt_class.name }}</p>
                    <p><label> Member </label> {{ objekt.member.name }}</p>
                    <p><label> Collection </label> {{ objekt.collection.name }}</p>
                    <p><label> Type </label> {% if objekt.collection.name|slice:"-1:" ==  'Z' %} Digital {% else %} Physical {% endif %} </p>
                </div>
            </details>
        {% endfor %}
    </div>

    
    
    
    

    
{% endblock %}