{% extends "base.html" %}
{% load static %}

{% block title %} My Lists {% endblock %}

<!-- 放子分頁的 css -->
{% block extra_css %} 
    {{ block.super }}  <!-- 繼承母版的 css 但不要覆蓋 -->
    <link rel="stylesheet" href="{% static 'details.css' %}">
{% endblock %}



{% block content %}
    <div class="list-details-links">
        <a href="{% url 'market' %}" class="btn"> Back to market </a>
        {% if objektlist.owner == request.user %}
            <a href="{% url 'mylists' %}" class="btn"> Back to mylists </a>
            <a href="{% url 'update_list' pk=objektlist.pk%}" class="btn"> Edit list </a>
        {% endif %}
    </div>
    <div class="list-info">
        <div> <label> Name </label> {{ objektlist.name }} </div>
        <div> <label> Owner </label> {{ objektlist.owner }} </div>
        <div> <label> Description </label> {{ objektlist.description }} </div>
        <div> <label> Created at </label> {{ objektlist.created_at | date:'Y-m-d H:i' }} </div>
        <div>
            {% if objektlist.is_public %}
                <label> Status </label> Public
            {% else %} 
                <label> Status </label> Private
            {% endif %}
        </div> <br>

        <div class="list-objekts-display">
            {% for objekt in objekts %}
                <div> 
                    {% if objekt.objekt_type.image_uri %}
                        <img src="{{ objekt.objekt_type.image_uri }}" alt="{{ objekt }}" style="max-height: 150px;">
                    {% endif %}
                    <div> {{ objekt }} </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
    
    

    
{% endblock %}