{% extends "base.html" %}
{% load static %}

{% block title %} Marketplace {% endblock %}

<!-- 放子分頁的 css -->
{% block extra_css %} 
    {{ block.super }}  <!-- 繼承母版的 css 但不要覆蓋 -->
    <link rel="stylesheet" href="{% static 'market.css' %}">
{% endblock %}



{% block content %}

    <div class="filter-bar">
        <!-- TODO -->
    </div>

    <!-- list stats info -->
    <div class="info-area">
        <p> 共 {{ all_public_lists | length }} 個列表 </p>
    </div>

    <!-- display lists -->
    <div class="display-all-list">
        {% for plist in all_public_lists %}
            <span class="display-one-list">
                <div> <a href="{% url 'list_details' pk=plist.pk %}" class="list-name-link"> {{ plist.name }} </a> </div>
                <div> {{ plist.owner }} </div>
                <div> 共 {{ plist.objekts.all | length }} 張卡 </div>
            </span>
        {% endfor %} 
    </div>

{% endblock %}