{% extends "base.html" %}
{% load static %}

{% block title %} Marketplace {% endblock %}

<!-- 放子分頁的 css -->
{% block extra_css %} 
    {{ block.super }}  <!-- 繼承母版的 css 但不要覆蓋 -->
    <link rel="stylesheet" href="{% static 'market.css' %}">
{% endblock %}



{% block content %}

    <div class="filter-bar">
        <!-- TODO -->
    </div>

    <!-- list stats info -->
    <div class="info-area">
        <p> 共 {{ all_public_lists | length }} 個列表 </p>
    </div>

    <!-- display lists -->
    <div class="display-all-list">
        {% for plist in all_public_lists %}
            <div class="display-one-list">
                <div> <a href="{% url 'list_details' pk=plist.pk %}" class="list-name-link"> {{ plist.name }} </a> </div>
                <div class="trait-stats">
                    <div>
                        {% for aname, ccount in plist.stats.artist.items %}
                            <label> {{ aname }} </label> 
                        {% endfor %}
                    </div>
                    <div>
                        {% for sname, ccount in plist.stats.season.items %}
                            <label> {{ sname }} </label> 
                        {% endfor %}
                    </div>
                    <div>
                        {% for cname, ccount in plist.stats.class.items %}
                            <label> {{ cname }} </label> 
                        {% endfor %}
                    </div>
                </div>
                <div class="list-owner"> {{ plist.owner }} </div>
                <div> 共 {{ plist.objekts.all | length }} 張卡 </div>
            </div>
        {% endfor %} 
    </div>

{% endblock %}