{% extends "base.html" %}
{% load static %}

{% block title %} My Lists {% endblock %}

<!-- 放子分頁的 css -->
{% block extra_css %} 
    {{ block.super }}  <!-- 繼承母版的 css 但不要覆蓋 -->
    <link rel="stylesheet" href="{% static 'mylists.css' %}">
{% endblock %}



{% block content %}

    <div class="filer-bar">
        <!-- TODO -->
    </div>

    <!-- list stats info -->
    <div class="info-area">
        <p> 共 {{ mylists | length }} 個列表 </p>
    </div>

    <!-- display lists -->

    <div class="display-all-list">
        <!-- btn: 新增列表 -->
        <a href="{% url 'create_list' %}" class="c-btn"> Create list </a>

        {% for plist in mylists %}
            <span class="display-one-list">
                <div> <a href="{% url 'list_details' pk=plist.pk %}"> {{ plist.name }} </a> </div>
                <div class="crud-btn">
                    <!-- 要寫成 button 還是 a link ??? -->
                    <a href="{% url 'update_list' pk=plist.pk %}" class="u-btn"> Update list </a>
                    <form method="post" action="{% url 'delete_list' pk=plist.pk %}" onsubmit="return confirm('確定要刪除這個清單嗎？');">
                        {% csrf_token %}
                        <button type="submit"> 刪除 </button>
                    </form>
                </div>
                <div> 共 {{ plist.objekts.all | length }} 張卡 </div>
            </span>
        {% endfor %} 
    </div>

{% endblock %}