{% extends "base.html" %}
{% load static %}

{% block title %} 
    {% if form.instance.pk  %}
        Update List
    {% else %}
        Create List
    {% endif %}
{% endblock %}

<!-- 放子分頁的 css -->
{% block extra_css %} 
    {{ block.super }}  <!-- 繼承母版的 css 但不要覆蓋 -->
    <link rel="stylesheet" href="{% static 'mylists.css' %}">
{% endblock %}

{% block content %}

    <!-- lists form -->
    <div class="create-update-list-form">
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <label> {{ form.name.label_tag }} </label>
                {{ form.name }}
            </div>
            <div class="form-row">
                <label> {{ form.description.label_tag }} </label>
                {{ form.description }}
            </div>
            <div class="form-row" style="width: 250px;">
                <label> Status: </label>
                <select name="is_public">
                    <option value="True" {% if form.instance.is_public %}selected{% endif %} > Public </option>
                    <option value="False" {% if not form.instance.is_public %}selected{% endif %}> Private </option>
                </select>
            </div>

            <button type="submit"> Save </button> <br>

            <!-- objekt -->
            <div class="form-objekts">
                <legend> Objekts: </legend> <br>
                <div class="objekt-checkboxes">
                    {% for objekt in form.objekts %}
                        <div class="objekt-item">
                            <div>
                                {{ objekt.tag }}   <!-- checkbox -->
                                {{ objekt.data.label }} <br>
                            </div>
                            <img src="{{ objekt.data.value.instance.image_uri }}" alt="Objekt Image!" width="100">                            
                            <br>
                        </div> 
                    {% endfor %}
                </div>
            </div>  <br>
            <button type="submit"> Save </button> <br>
        </form>
    </div>

{% endblock %}