html {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;   /* rm browser default border */
    padding: 16px 20px;
}

/* header */

header {
    padding: 10px 10px;
}

header h3 {
  padding-left: 15px;
  font-style: italic;
  color: black;
  transition: color 0.4s, text-shadow 0.2s;
  transition-timing-function: ease;
}

header h3:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #047, 0 0 5px #049;
}

/* nav */
.nav-grid * {
    margin: 0;
    padding: 5px 5px;
}


/* div */
div {
  width: 97%;
  margin: auto;
  text-align: center;
}
