html {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    margin: 0;   /* rm browser default border */
    padding: 16px 20px;
}

/* header */

header {
    padding: 10px 10px;
}

header h3 {
  padding-left: 15px;
  font-style: italic;
  color: black;
  transition: color 0.4s, text-shadow 0.2s;
  transition-timing-function: ease;
}

header h3:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #047, 0 0 5px #049;
}

/* navigation tabs */
.nav-grid nav {
  width: 100%;
}

.nav-grid nav ul {
  display: flex;
  justify-content: space-evenly; /* 均勻分布 */
  gap: 5px;
  
  /* 基本重設，確保佈局乾淨 */
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-grid nav li {
  flex: 1;  /* 讓每個 tab 都會一樣寬 */
  text-align: center;
}

.nav-grid nav a {
  display: block;
  padding: 18px 0px 12px;  /* top right bottom */
  border-radius: 10px 10px 2px 2px;
  color: black;
  background-color: rgba(208, 226, 241, 0.5);
  text-decoration: none;
  font-size: 16px;
  
  transition: background-color 0.1s, color 0.1s; /* 加上轉場效果，讓 hover 更平滑 */
}

.nav-grid nav a:hover {
  color: white;
  background-color: #24537D;
}

/* footer */
footer p {
  /* 1. appearance */
  background-color: #24537D;
  color: white;
  width: 100%;
  gap: 2px;
  padding: 10px 0; /* 增加上下內距，左右為0 */
  box-sizing: border-box; /* 讓 padding 不會影響總寬高 */
  margin-top: 30px;

  /* 2. Flexbox  */
  display: flex;
  flex-direction: column; /* 讓子項目垂直排列 */
  justify-content: center; /* 垂直置中 */
  align-items: center;     /* 水平置中 */
}
