
/* links  */

.list-details-links > a {
    margin: 20px 20px;
}


/* info */

.list-info {
    padding-left: 50px;
}

.list-info > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-info > div > label {
    display: inline-block;
    width: 110px;
    line-height: 2;
    text-align: right;
    padding-right: 10px;
    color: grey;
}

.contact-info {
    display: inline-block;
    text-align: left; 
}

