/* profile-check */

.profile-check div {
    padding: 5px;
    text-align: center;
}


/*  profile-display  */

.profile-display div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    gap: 5px;
}

.profile-display div label {
    width: 10%;
    text-align: right;
    padding-right: 10px;
}

.profile-display div p {
    width: 35%;
    text-align: left;
}


/* profile edit form */

.user-info > h3 {
    max-width: 1300px;
    margin: 30px auto;
    width: 100%;
    text-align: left;
}

fieldset {
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 50px;
}

fieldset div {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 15px;
    gap: 10px;
}

fieldset div label {
    width: 200px;
    flex-shrink: 0;
    text-align: center;
    padding-right: 10px;
}

fieldset div input,
fieldset div textarea {
    width: 35%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: smaller;
}

fieldset .helptext {
    display: block;
    order: 3;    /* 讓 help text 放在 input 後 */
    font-size: 13px;
    color: #888;
}


/* save btn */

.btn {
    display: block;
    margin: auto;
}