fieldset {
    border-color: #ddd;
    border-radius: 4px;
    padding-top: 25px;
}

fieldset div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

fieldset div label {
    width: 20%;
    flex-shrink: 0;
    text-align: center;
    padding-right: 10px;
    font-weight: medium;
}

fieldset div input,
fieldset div textarea {
    width: 35%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: smaller;
}

fieldset .helptext {
    order: 3;    /* 讓 help text 放在 input 後 */
    font-size: 13px;
    color: #888;
    margin-top: 2px;
}