/* 共幾個列表 */

.info-area {
    padding-left: 20px;
}


/* list 列表 */

.display-all-list {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;    
}

.display-one-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 140px auto;
    column-gap: 16px;
    align-items: center;
    padding: 28px 35px;

    background-color: rgba(211, 222, 227, 0.353);
    border-radius: 4px;
}

.list-name-link {
    padding: 15px 20px;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color: rgb(43, 48, 50);
    transition: color .5s;
}

.list-name-link:hover {
    color: black;
    text-decoration: underline;
}