/* 共幾個列表 */

.info-area {
    padding-left: 20px;
}



/* list 列表 */

.display-all-list > a.btn {
    align-self: flex-start;   /* 取消被拉滿 */
    display: inline-flex;     /* 按鈕視覺更穩定 */
    width: auto;              /* 依內容收縮 */
    padding: 10px 20px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.display-all-list {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;    
}

.display-one-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 140px auto;
    column-gap: 16px;
    align-items: center;
    padding: 20px 30px;

    background-color: rgba(211, 222, 227, 0.353);
    border-radius: 4px;
}

/* 列表名 */
.display-one-list > div:nth-child(1) {
    min-width: 0;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 張數統計 */
.display-one-list > div:nth-child(2) {
    text-align: center;
    font-variant-numeric: tabular-nums;  /* 數字等寬 */
}

.list-name-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(43, 48, 50);
    transition: color .5s;
}

.list-name-link:hover {
    color: black;
    text-decoration: underline;
}

.crud-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-self: end;
}



/* edit list form */
.create-update-list-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-width: 1200px;        /* 限制表單寬度 */
    margin: 20px auto;       /* 置中 */
    padding: 20px;           /* 內距 */
}

.create-update-list-form .form-row {
    display: grid;
    grid-template-columns: 120px 1fr;  /* 左側 label 固定寬度，右側自動 */
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.create-update-list-form .form-row label {
    display: block;
    text-align: right;
    color: grey;
}

.create-update-list-form .form-row input,
.create-update-list-form .form-row textarea {
    border: 1px solid #ddd;
    max-width: 600px;
}

.create-update-list-form .form-row input:last-child {
    justify-self: start;
}

.form-objekts .objekt-checkboxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 20px;
    padding-top: 30px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

    font-size: 13px;
}

.objekt-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.create-update-list-form button {
    display: block;
    margin: 0 auto;   /* 自動左右邊距，置中 */
}