/* 共幾個列表 */

.info-area {
    padding-left: 20px;
}


/* list 列表 */

.display-all-list {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;    
}

.display-one-list {
    display: flex;
    justify-content: space-between; /* 左右分散對齊 */
    align-items: center;
    padding: 20px 30px;

    background-color: rgba(211, 222, 227, 0.353);
    border-radius: 4px;

}

.display-all-list div {
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* padding: 5px 10px; */

}