{% load static %}

<!DOCTYPE html>
<html>

    <!-- 設定各頁面共同的區塊結構 parent template -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title> {% block title %} objekt marketplace {% endblock %} </title>
        
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <!-- 放子分頁的 css -->
        {% block extra_css %} {% endblock %}
    </head>

    <body>
        <!-- header -->
        <header>

            <h3> objekt marketplace </h3>

            <div class="log-in-info">
                {% if user.is_authenticated %}   <!-- 已登入 -->
                    <p> Hello, <i> {{ user.username }} </i> ! </p>
                    <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                        <button class="btn" type="submit"> Logout </button> <br>
                    </form>
                {% else %}                  <!-- 未登入 -->
                    <form action="{% url 'register' %}">
                        <button class="btn" type="submit"> Sign up </button>
                    </form>

                    <form action="{% url 'login' %}">
                        <button class="btn" type="submit"> Login </button>
                    </form>
                {% endif %}
            </div>
        </header>

        <!-- navigation -->
         <div class="nav-grid">
            <nav>
                <ul>
                    <li> <a href="{% url 'card_list' %}"> objekts </a></li>
                    <li> <a href="{% url 'market' %}"> marketplace </a></li>
                    <li> <a href="{% url 'mylists' %}"> my lists </a></li>
                    <li> <a href="{% url 'account_info' %}"> my account </a></li>
                </ul>
            </nav>
         </div>

        <!-- content 各頁面定義 -->
        <div>
            {% block content %}
            {% endblock %}
        </div>

        <!-- footer -->
        <footer>
            <p class="footer1"> footer </p>
        </footer>
        <!-- script src="script.js" -->

    </body>
</html>