{% load static %}

<!DOCTYPE html>
<html>

    <!-- 設定各頁面共同的區塊結構 parent template -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title> {% block title %} {% endblock %} </title>  

        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans" >
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <!-- 放子分頁的 css -->
        {% block extra_css %} {% endblock %}
    </head>

    <body>
        <!-- header -->
        <header>
            {% block header %}
            {% endblock %}
        </header>

        <!-- navigation -->
         <div class="nav-grid">
            <nav>
                <p> Navigation area </p>
                <ul>
                    <li> <a href="{% url 'card_list' %}"> objekt list </a></li>
                    <li> button 2 </li>
                </ul>
            </nav>
         </div>

        <!-- content 各頁面定義 -->
        <div>
            {% block content %}
            {% endblock %}
        </div>

        <!-- footer -->
        <footer>
            <p class="footer1"> footer </p>
        </footer>
        <!-- script src="script.js" -->

    </body>
</html>